/*reset*/
*,*:after,*:before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, div, span{
	max-height: 5000em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
	position: relative;
}

.grid {
	position: relative;
	min-height: 1px;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

@for $i from 1 through 12 {
	.grid-#{$i} {
		@extend .grid;
		width: 1 / 12 * $i * 100%;
	}
}

section{
	position: relative;
	width: 100%;
	padding: 35px;
}

.row{
	position: relative;

	&:before{
		content: " ";
		display: table;
	}
	&:after{
		content: " ";
		display: table;
		clear: both;
	}
}

.clearfix{
	&:before{
		content: " ";
		display: table;
	}
	&:after{
		content: " ";
		display: table;
		clear: both;
	}
}

img{border:none;}
.img-responsive{
	width: 100%;
	height: auto;
}
.hidden{
	display: none;
}
/*reset*/
