@font-face {
	font-family: 'arian';
	src: url('../fonts/arnamu.eot');
	src: url('../fonts/arnamu.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/arnamu.woff') format('woff'),
		 url('../fonts/arnamu.ttf.gz') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arian';
	src: url('../fonts/arnamu_bold.eot');
	src: url('../fonts/arnamu_bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/arnamu_bold.woff') format('woff'),
		 url('../fonts/arnamu_bold.ttf.gz') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'arian';
	src: url('../fonts/arnamu_italic.eot');
	src: url('../fonts/arnamu_italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/arnamu_italic.woff') format('woff'),
		 url('../fonts/arnamu_italic.ttf.gz') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'arian';
	src: url('../fonts/arnamu_italic_bold.eot');
	src: url('../fonts/arnamu_italic_bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/arnamu_italic_bold.woff') format('woff'),
		 url('../fonts/arnamu_italic_bold.ttf.gz') format('truetype');
	font-weight: bold;
	font-style: italic;
}