.btn{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border: none;
	font-size: 16px;
	font-weight: bold;
	padding: 6px 20px;
	line-height: 24px;
	text-align: center;
	border: none !important;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease;
	@include transform(translate(0,0px));
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	&:focus{
		outline: none;
	}
}

.btn-green{
	background-color: $green;
	color: #FFF !important;

	&:hover{
		background-color: darken($green, 5%);
		color: #FFF !important;
	}

	&:active{
		background-color: darken($green, 15%);
		color: #FFF !important;
	}
}

textarea{overflow-x: hidden;}
label{cursor: pointer;}

input[type="text"],input[type="tel"],input[type="email"],textarea{
	border: 2px solid $green;
	font-size: 14px;
	padding: 6px 10px;
	line-height: 20px;
	transition: all 0.3s ease;
	@include placeholder {
		color:$black;
		font-style: italic;
		opacity: 1;
		transition: all 0.3s ease;
	}

	&:focus{
		outline: none;
		border: 2px solid $blue;
		@include placeholder {
			opacity: 0;
			@include transform(translate(20px,0));
		}
	}

	&.error{
		border-color: $red;
	}
}

textarea{
	font: $font;
	font-family: sans-serif;
}

i{
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

.icon-file{
	width: 19px;
	height: 27px;
	background: url(../images/icons/file.png) no-repeat;
	margin: -4px 10px 0 -5px;
}

.icon-calendar{
	width: 12px;
	height: 14px;
	background: url(../images/icons/calendar.png) no-repeat;
	margin: -3px 5px 0 0;
}

.icon-pin{
	width: 13px;
	height: 18px;
	background: url(../images/icons/pin.png) no-repeat;
	margin: -2px 5px 0 0;
}

.icon-right{
	width: 10px;
	height: 9px;
	background: url(../images/icons/right.png) no-repeat;
	margin: -2px 0 0 5px;
}

.icon-link{
	width: 13px;
	height: 15px;
	background: url(../images/icons/link.png) no-repeat;
	margin: -2px 5px 0 0;
}

.icon-flight{
	width: 19px;
	height: 23px;
	background: url(../images/icons/flight.png) no-repeat;
	margin: -2px 10px 0 -5px;
}

.icon-check{
	width: 20px;
	height: 13px;
	background: url(../images/icons/check.png) no-repeat;
}

.icon-money{
	width: 21px;
	height: 16px;
	background: url(../images/icons/money.png) no-repeat;
	margin: -1px 5px 0 0;
}