body{
	font-family: $font;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	color: $black;
	min-height: 100vh;
	@include background-gradient(#e5e7e2, #f5e8d7, 'vertical');
	padding: 20px 0;
}

h1{
	font-size: 38px;
	margin-bottom: 10px;
}

h2{
	font-weight: normal;
	font-size: 28px;
	color: #767676;
	margin-bottom: 10px;
}

h4{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}

a{
	text-decoration: none;
}
.user-content{
	ul,p,ol{
		margin-bottom: 15px;
	}

	a{
		@extend %red-link;
	}

	ul{
		list-style: none;

		li{
			position: relative;
			padding-left: 20px;
			margin-bottom: 5px;

			&:before{
				content: '—';
				color: $blue;
				position: absolute;
				left: 0;
			}
		}
	}
}

table{
	width: 100%;
	border-spacing: 0;

	th,td{
		padding: 15px 20px;
		vertical-align: top;
		border-bottom: 3px solid #FFF;
		background-color: #f0f6ee;
	}

	th{
		text-align: left;
	}
}


.img-description{
	font-style: italic;
	font-size: 14px;
	margin: 10px 0 15px 35px;

	a{
		@extend %red-link;
	}
}

.small-text{
	font-size: 14px;
}

.info-block{
	background-color: #eef3f6;
	border-left: 5px solid $blue;
	padding: 20px 25px;
}

.blue-border{
	border: 5px solid $blue;
	padding: 20px 25px;
	margin-bottom: 20px;
}